@model IEnumerable<BibliotekaOOAD.Models.VipKorisnik>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zahtjevi vip clanstva</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prezime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prezime)
                    </td>
                    <td>
                        <input type="button" value="Odobri" onclick="location.href='@Url.Action("Odobreno", "Bibliotekar")'" />
                    </td>
                    <td>
                        <input type="button" value="Odbij" onclick="location.href='@Url.Action("Odbijeno", "Bibliotekar")'" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


